/*Importacion de la funte para poder usarla en la pgina*/ 
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*Estilo para el apartado de Inicio*/
/*Estilo global para restablecer los márgenes, el relleno y el modelo de la pag.*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}
/*Agregamos la imagen y le damos sus dimensiones*/
#inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/fondo-inicio2.jpg"); /*Aqui le estamos haciendo un poco oscura la imagen*/
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%; /*Le damos un ancho del 100%*/
  z-index: 100;
  top: 0;
}

#inicio .contenido header .contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; /*Alineamos los items al centro*/
  padding: 10px 20px;
}
/*Aqui le estamos dando color al texto superior izquierdo*/
#inicio .contenido header .contenido-header h1 {
  text-align: center;
  color: #ffdc68; /*Dar color al texto*/
}

#inicio .contenido header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
/*Este es el estilo de las letras superior centrales*/
#inicio .contenido header .contenido-header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 400;
  transition: 0.5s; /*Da una transición suave*/
}
/*Aqui les estamos dando color*/
#inicio .contenido header .contenido-header nav ul li a:hover {
  color: #ffdc68;
}

#inicio .contenido header .contenido-header .redes a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: 0.5s; /*Le estamos dando una transicion de .5 seg*/
}

#inicio .contenido header .contenido-header .redes a:hover {
  color: #ffdc68;
}

#inicio .contenido header .contenido-header .seleccionado {
  color: #ffdc68;
}
/*Aqui le estamos dando estilo a la presentacion*/
#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto; /*Aplicamos margenes*/
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Aqui le estamos dando margenes y estilos a la fuente*/
#inicio .contenido .presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
  font-size: 55px;
  margin-bottom: 25px; /*Le damos un margen en el fondo*/
  text-align: center;
}
/*Aqui solo estamos modificando dos palabaras de la presentacion*/
#inicio .contenido .presentacion h2 span {
  font-size: 25px;
  color: #ffdc68;
}
/*Aqui esta la descripcion con sus margenes tamaño de fuente*/
#inicio .contenido .presentacion .descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}
/*Aqui le estamos dando estilo a boton*/
#inicio .contenido .presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}
/*Aqui le estamos dando el color al background del boton*/
#inicio .contenido .presentacion a:hover {
  background-color: #ac660a;
}

#icono-nav {
  color: #fff;
  display: none;
}

/*Estilo para sobre mi*/
#sobremi {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #110303;
  display: flex;
}
/*Aqui se estan dando las dimensiones para en contenedor
donde va a ir nuestra foto*/
#sobremi .contenedor-foto {
  max-width: 400px;
  margin-right: 80px;
}
/**/
#sobremi .contenedor-foto img {
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #f3f3f3;
}

#sobremi .sobremi {
  margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #110303;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 3px; /*Aqui le estamos dando un espaciado entre letras*/
}
/*Aqui solo le estamos dando color a unas palabras*/
#sobremi .sobremi h2 span {
  color: #ea9926;
}

#sobremi .sobremi h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#sobremi .sobremi p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}

#sobremi .sobremi a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 30px; /*Le damos un borde de radio de unos 30px*/
  padding: 10px 20px;
  border: 1px solid #000;
  margin-top: 30px;
  transition: 0.5s; /*Le damos una transicion suave*/
}
/*Aqui le damos color al boton */
#sobremi .sobremi a:hover {
  background-color: #ac660a;
  color: #fff;
}

/*Seccion de habilidades*/
#habilidades {
  padding: 100px 15px;
  text-align: center;
  background-color: #f3f3f3;
}
#habilidades .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #110303;
  text-decoration: underline; /*Le damos una linea abajo de nuestro titulo*/
  text-decoration-color: #d3d3d3; /*Aqui el color de la liena*/
  text-decoration-thickness: 5px;
}
#habilidades .fila {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto; /*Aplicamos margen*/
}
#habilidades .fila .habilidad {
  max-width: 350px;
  background-color: #fff;
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: 0.5s;
}
/*Aqui le estamos dando un sombreado a los cuadros*/
#habilidades .fila .habilidad:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}
#habilidades .fila .habilidad h4 {
  font-size: 22px;
  margin-bottom: 25px;
}
/*Aqui le estamos dando estilo al icono*/
#habilidades .fila .habilidad .icono {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 25px;
}
#habilidades .fila .habilidad hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}
#habilidades .fila .habilidad ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#habilidades .fila .habilidad p {
  font-size: 14px;
  line-height: 22px;
}

/*Seccion Skills*/
/*Aqui va el apartado de la imagen de fondo de la seccion skills*/
.contenedor-skills {
  background: linear-gradient(#b49b85, rgba(33, 16, 16, 0.8)),
    /*Le agregamos un rgb para sombrear la imagen*/ url("img/Skills.jpg"); /*Agregamos la imagen que queremos de fondo */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
}
.contenedor-skills .skill {
  max-width: 600px;
  margin: 30px auto;
}
.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}
.contenedor-skills .skill .lista {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
}
.contenedor-skills .skill .barra {
  background-color: #919191;
  width: 100%;
  height: 6px;
  margin: 10px 0;
}
/*barra de animacion de skill1*/
.contenedor-skills .skill .barra .barra-progreso1 {
  background-color: #fff;
  width: 70%;
  height: 6px;
  animation: progreso1 2s forwards;
}

/*barra de animacion de skill2*/
.contenedor-skills .skill .barra .barra-progreso2 {
  background-color: #fff;
  width: 40%;
  height: 6px;
  animation: progreso2 2s forwards;
}

/*barra de animacion de skill3*/
.contenedor-skills .skill .barra .barra-progreso3 {
  background-color: #fff;
  width: 75%;
  height: 6px;
  animation: progreso3 2s forwards;
}

/*barra de animacion de skill4*/
.contenedor-skills .skill .barra .barra-progreso4 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso3 2s forwards;
}
/*Creacion de las animaciones de las barras*/
@keyframes progreso1 {
  0% {
    width: 0;
  }
  /*Crea animacion dependiendo el porcentaje*/
  100% {
    width: 70%;
  }
}
@keyframes progreso2 {
  0% {
    width: 0;
  }
  /*Crea animacion dependiendo el porcentaje*/
  100% {
    width: 40%;
  }
}
@keyframes progreso3 {
  0% {
    width: 0;
  }
  /*Crea animacion dependiendo el porcentaje*/
  100% {
    width: 80%;
  }
}
@keyframes progreso4 {
  0% {
    width: 0;
  }
  /*Crea animacion dependiendo el porcentaje*/
  100% {
    width: 80%;
  }
}

/*Seccion Proyectos*/
#proyectoss {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}
#proyectoss .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #110303;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#proyectoss .fila {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
/*Aqui creamos los cuadros a para los proyectos*/
#proyectoss .fila .proyecto {
  max-width: 450px;
  border: 1px solid #000;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
/*Aqui es el estilo de la imagen del proyecto*/
#proyectoss .fila .proyecto img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: 0.5s;
}
/*Aqui le damos un efecto gris a la imagen*/
#proyectoss .fila .proyecto:hover img {
  filter: grayscale(0);
}
/*Aqui va la info*/
#proyectoss .fila .proyecto .info {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffdc68;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: 0.5s;
}
#proyectoss .fila .proyecto:hover .info {
  opacity: 1;
  bottom: 0;
}

/*Seccion Contacto*/
#contacto {
  padding: 100px 15px;
}
#contacto .titulo-seccion {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #110303;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}
#contacto .contenedor-form {
  max-width: 1100px;
  margin: auto;
}
#contacto .contenedor-form .fila {
  margin-bottom: 15px;
}
#contacto .contenedor-form .mitad {
  display: flex;
  justify-content: space-between;
}
#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #919191;
}
#contacto .contenedor-form .mitad input {
  width: 48%;
}
#contacto .contenedor-form .input-full {
  width: 100%;
}
#contacto .btn-enviar {
  display: block;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
}
#contacto .btn-enviar:hover {
  background-color: #ac660a;
  color: #fff;
}

/*Seccion footer*/
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}
footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}

/*Seccion para hacer la pag responsive*/
@media screen and (max-width: 800px) {
  .redes {
    display: none;
  }
  nav {
    display: none;
  }
  nav.responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 0;
  }
  nav.responsive ul {
    display: block !important;
    text-align: center;
  }
  nav.responsive ul li {
    margin: 5px 0;
  }
  #icono-nav {
    display: block;
  }
  #inicio .contenido .presentacion h2 {
    font-size: 40px;
  }
  #sobremi {
    padding: 50px;
    display: block;
  }
  #sobremi .contenedor-foto {
    max-width: 200px;
    margin: auto;
  }
  #sobremi .contenedor-foto img {
    padding: 8px;
  }
  #sobremi .sobremi .titulo-seccion {
    text-align: center;
  }
  #sobremi .sobremi h2 {
    font-size: 25px;
    text-align: center;
  }
  #habilidades {
    padding: 50px 15px;
  }
  #habilidades .fila {
    display: block;
  }
  #habilidades .fila .habilidad {
    margin: 10px auto;
  }
  .contenedor-skills {
    padding: 50px 20px;
  }
  #proyectoss {
    padding: 50px 0;
  }
  #proyectoss .fila {
    display: block;
  }
  #proyectoss .fila .proyecto {
    margin: 10px auto;
  }
  #contacto {
    padding: 50px 15px;
  }
  #contacto .contenedor-form .mitad {
    margin-bottom: 15px;
    display: block;
  }
  #contacto .contenedor-form .mitad input {
    width: 100%;
    margin-bottom: 15px;
  }
}
